body {
  font-family: 'Josefin Sans';
}

#header {
  background-color: #88cc88;
}

#header header {
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
}

#header header .name {
  font-size: 40px;
  font-variant: small-caps;
}

header address .detail {
  line-height: 18px;
}

header address .double {
  line-height: 2.5em;
}

header address .detail .icon {
  position: relative;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: top;
}

header address .detail .mail {
  background-image: url('../gfx/mail.png');
}

header address .detail .phone {
  background-image: url('../gfx/phone.png');
}

header address .detail .address {
  background-image: url('../gfx/home.png');
}

header address .detail .content {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  margin-left: 5px;
}

#content {
  margin: auto;
  font-size: 14pt;
}

em {
  font-size: 14pt;
  font-style: bold;
}

#content h1 {
  text-align: center;
  color: #004400;
  font-size: 28pt;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: #004400;
}

a.link_box {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #004400;
  background-color: #88cc88;
  margin: 10px;
  width: 250px;
  vertical-align: top;
}

a.wide_link_box {
  display: block;
  text-decoration: none;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #004400;
  background-color: #88cc88;
  margin: auto;
  max-width: 500px;
  width: 80%;
  vertical-align: top;
}

.full_figure {
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #004400;
  width: 640px;
  margin: auto;
  text-align: center;
}

.full_figure img {
  margin: 20px;
}

.full_figure .caption {
  box-sizing: border-box;
  left: 0px;
  width: 100%;
  background-color: #88cc88;
  padding: 8pt;
  clear: both;
}

.quote {
  font-size: 22pt;
  font-weight: bold;
  color: #88cc88;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  border-left: 5px solid #88cc88;
}

.quote_by:before {
  content: "—";
}

.quote_by {
  float: right;
}

.breadcrumbtrace {
  font-size: 12pt;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.hidden {
  display: none;
}

footer {
  font-size: 10pt;
  text-align: center;
}

.label {
  box-sizing: border-box;
  padding: 10px;
}

.label:target {
  background-color: #88cc88;
}

.ref {
  vertical-align: super;
  font-size: 10pt;
}

.label .links {
  text-align: right;
  font-size: 10pt;
}

table {
  border: none;
}

table th {
  background-color: #88cc88;
  padding: 5px;
  padding-top: 8px;
  vertical-align: middle;
}

table td {
  padding: 5px;
  padding-top: 8px;
}

table tr:nth-child(even) {
  background-color: #ddffdd;
}

#title_bar {
  height: 84px;
  vertical-align: middle;
}

span.social {
  display: inline-block;
  width: 80px;
  border-radius: 8px;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
  padding-bottom: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.social_google {
  background-color: #d34836;
}

.social_twitter {
  background-color: #55acee;
}

.social_facebook {
  background-color: #3b5998;
}

.social_mail {
  background-color: #004400;
}

